<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace需要赋值为Dao类的全限定名称-->
<mapper namespace="com.mycompany.demo.mapper.StudentMapper">
    <!--id需要赋值为Dao类中执行该sql语句的方法名称
        resultType需要赋值为该select语句执行后返回的单行结果的类型的全限定名称
    -->
    <select id="getStudentById" resultType="com.mycompany.demo.model.Student">
        select * from tbl_student where id = #{id}
    </select>

    <select id="getAllStudents" resultType="com.mycompany.demo.model.Student">
        select * from tbl_student
    </select>

    <insert id="insertStudent" parameterType="com.mycompany.demo.model.Student">
        insert into tbl_student(
        id,
        name,
        birth,
        gender,
        qq,
        telNum
        )values (
        #{id},
        #{name},
        #{birth},
        #{gender},
        #{qq},
        #{telNum}
        )
    </insert>

    <delete id="deleteStudentById" parameterType="java.lang.String">
        delete from tbl_student where id=#{id}
    </delete>

    <update id="updateStudentById" parameterType="com.mycompany.demo.model.Student">
        update tbl_student set
                name=#{name},
                birth=#{birth},
                gender=#{gender},
                qq=#{qq},
                telNum=#{telNum}
        where id=#{id}
    </update>
</mapper>